@model IEnumerable<ShoppingTech.DAL.Category>

@{
    ViewBag.Title = "Index";
}

<h2>Categories</h2>

@foreach (var category in Model)
{
    <div class="col-lg-3 col-md-3 col-xs-3 col-sm-6">
        <div class="panel panel-success">
            <div class="panel-body">
                <a href='@Url.Action("Browse", "Store", new { id = category.Name })'>
                    <img class="item-img" src="@category.ImageUrl" alt="@category.Name" />
                </a>
            </div>
            <div class="panel-footer">@Html.ActionLink(category.Name, "Browse", new { id = category.Name} )</div>
        </div>        
    </div>
}
