
@{
    ViewBag.Title = "Index";
}

<h2>Admin Menu</h2>

<div class="list-group">
    <a href="@Url.Action("Category")" class="list-group-item">
        <h4 class="list-group-item-heading">Categories Management</h4>
        <p class="list-group-item-text">Categories Management</p>
    </a>
    <a href="@Url.Action("Product")" class="list-group-item">
        <h4 class="list-group-item-heading">Products Management</h4>
        <p class="list-group-item-text">Products Management</p>
    </a>
    <a href="@Url.Action("Order")" class="list-group-item">
        <h4 class="list-group-item-heading">Orders Management</h4>
        <p class="list-group-item-text">Orders Management</p>
    </a>
</div>